primary-color = #2FB675
secondary-color = rgba(131, 102, 86, 0.12)

primary-text-color = white
secondary-text-color = #2E2F33

button-primary-color = #FF7700
focused-color = #0099FF

counter-stroke-color = white